<app-home-navbar></app-home-navbar>
<div class="flex">

      <div class="waviy">
            <span style="--i:1">C</span>
            <span style="--i:2">A</span>
            <span style="--i:3">R</span>
            <span style="--i:4">E</span>
            <span style="--i:5">Z</span>
            <span style="--i:6">E</span>
            <span style="--i:7">N</span>
            <span style="--i:8"> &nbsp;</span>

            <span style="--i:1">H</span>
            <span style="--i:2">E</span>
            <span style="--i:3">A</span>
            <span style="--i:4">L</span>
            <span style="--i:5">H</span>
            <span style="--i:6">C</span>
            <span style="--i:7">A</span>
            <span style="--i:8">R</span>
            <span style="--i:9">E</span>

      </div>
      <marquee behavior="" direction="left" [scrollAmount]="10">
            <span style='font-size:15px;'>&#8698;
                  Dr. Sundar, met Ms. Droupadi Murmu, the Honorable President of India- April, 2023 &nbsp; &nbsp;
            </span>
            <span style='font-size:15px;'>&#8698; First time in Rest of Tamil Nadu, CareZen Healthcare performs Trans
                  Catheter
                  Mitral Valve Repair TMVr- June, 2023
                  &nbsp; &nbsp;
            </span>

            <span style='font-size:15px;'>&#8698;
                  New breakthrough treatment at CareZen Healthcare offers hope for patients with rare medical
                  conditions.
                  &nbsp; &nbsp;
            </span>
            <span style='font-size:15px;'>&#8698;Tamil Nadu's first Tomotherapy device with clear RT and
                  synchrony facility at CareZen Healthcare- January, 2023 &nbsp; &nbsp;
            </span><span style='font-size:15px;'>&#8698;Cutting-edge medical research conducted at CareZen Healthcare
                  attracts
                  global attention, revolutionizing healthcare practices worldwide.</span>
      </marquee>
</div><br>
<section id="about" class="about">

      <br><br>

      <!--   content -->
      <div class="row">

            <!--     image -->
            <div class="img-about">
                  <img src="https://images.pexels.com/photos/3845810/pexels-photo-3845810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="medical equipment">
            </div>
            <!--     info -->
            <div class="content">
                  <h3>"Caring for You, Healing with Compassion"</h3>
                  <p id="blog">Welcome to CareZen Healthcare, a leading healthcare provider committed to delivering
                        exceptional medical services and improving the well-being of our patients. We are dedicated to
                        serving our community with compassion, innovation, and a patient-centric approach. Our mission
                        is to enhance lives and promote healthier futures through comprehensive medical care and
                        cutting-edge treatments.</p>
            </div>

      </div>

</section>

<!-- end about -->
<br><br><br>
<div class="container">
      <div class="responsive">
            <div class="gallery">
                  <img src="../../assets/home/card/behavioral_health.jpg" alt="Cinque Terre" width="600" height="400">
                  <div class="desc">Behavioral Health</div>
            </div>
      </div>
      <div class="responsive">
            <div class="gallery">
                  <img src="../../assets/home/card/diabetes.jpg" alt="Cinque Terre" width="600" height="400">
                  <div class="desc">Diabetes</div>
            </div>
      </div>
      <div class="responsive">
            <div class="gallery">
                  <img src="../../assets/home/card/cancer_care.jpg" alt="Cinque Terre" width="600" height="400">
                  <div class="desc">Cancer Care</div>
            </div>
      </div>

      <div class="responsive">
            <div class="gallery">
                  <img src="../../assets/home/card/ophthalmology.jpg" alt="Cinque Terre" width="600" height="400">
                  <div class="desc">Opthalmology
                  </div>
            </div>
      </div>
</div>
<br><br><br>
<div class="container">
      <h2 id="excel"> Center Of Excellence</h2>
      <ul class="cards">
            <li class="card">
                  <div>
                        <h3 class="card-title"><strong>General Medicine</strong></h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Spine.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title"><strong>Orthopaedics</strong></h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Ortho.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title"><strong>Surgery</strong> </h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Vascular.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title"><strong>Liver Diseases</strong></h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Liver.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title"><strong>Diabetology</strong></h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/diabe.png">

                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title"><strong>Spine Surgey</strong></h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Spine.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title"><strong>Nephrology</strong></h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Nephro.png">
                        </div>
                  </div>

            </li>
      </ul>

</div><br>

<div class="column">
      <div class="row">
            <div class="col-md-4">
                  <div class="effect">
                        <img class="image" src="../../assets/home/animation/happy_patients.png" />
                        <img class="image hover" src="../../assets/home/animation/happy_patients1.png" />
                  </div><br>
                  <h4><strong><span id='0101'>12</span>+</strong></h4>
                  <h4><strong>PATIENTS / YEAR</strong> </h4 >
            </div>
          
    
      <div class="col-md-4">
            <div class="effect">
                  <img class="image" src="../../assets/home/animation/doctors.png" />
                  <img class="image hover" src="../../assets/home/animation/doctors1.png" />
            </div><br>
            <h4><strong><span id='0102'>12</span>+</strong></h4>
            <h4 ><strong>Doctors</strong></h4>
      </div>
      <div class="col-md-4">
            <div class="effect">
                  <img class="image" src="../../assets/home/animation/successful_surgeries.png" />
                  <img class="image hover" src="../../assets/home/animation/successful_surgeries1.png " />
            </div><br>
            <h4 ><strong><span id='0103'>12</span>+</strong></h4>
            <h4 class=" align-content-center"><strong>SUCCESSFUL SURGERIES</strong>
            </h4>
      </div>
</div>
</div>
<br><br>
<app-footer></app-footer>