<app-home-navbar></app-home-navbar>

<div class="flex">
  
      <div class="waviy">
            <span style="--i:1">C</span>
            <span style="--i:2">A</span>
            <span style="--i:3">R</span>
            <span style="--i:4">E</span>
            <span style="--i:5">Z</span>
            <span style="--i:6">E</span>
            <span style="--i:7">N</span>
            <span style="--i:8"> &nbsp;</span>

            <span style="--i:1">H</span>
            <span style="--i:2">E</span>
            <span style="--i:3">A</span>
            <span style="--i:4">L</span>
            <span style="--i:5">H</span>
            <span style="--i:6">C</span>
            <span style="--i:7">A</span>
            <span style="--i:8">R</span>
            <span style="--i:9">E</span>

      </div>
        <marquee behavior="" direction="left" [scrollAmount]="10">
            <span style='font-size:15px;'>&#8698;
                  Dr. Sundar, met Ms. Droupadi Murmu, the Honorable President of India- April, 2023 &nbsp; &nbsp;
            </span>
            <span style='font-size:15px;'>&#8698; First time in Rest of Tamil Nadu, CareZen Healthcare performs Trans Catheter
                  Mitral Valve Repair TMVr- June, 2023
                  &nbsp; &nbsp;
            </span>
      
            <span style='font-size:15px;'>&#8698;
                  New breakthrough treatment at CareZen Healthcare offers hope for patients with rare medical conditions.
                  &nbsp; &nbsp;
            </span>
            <span style='font-size:15px;'>&#8698;Tamil Nadu's first Tomotherapy device with clear RT and
                  synchrony facility at CareZen Healthcare- January, 2023 &nbsp; &nbsp;
            </span><span style='font-size:15px;'>&#8698;Cutting-edge medical research conducted at CareZen Healthcare attracts
                  global attention, revolutionizing healthcare practices worldwide.</span>
      </marquee>
         </div><br>
        <section id="about" class="about">

            <h1 class="heading"> About us </h1>
            <br><br>

            <!--   content -->
            <div class="row">
          
              <!--     image -->
              <div class="img-about">
                <img src="https://images.pexels.com/photos/3845810/pexels-photo-3845810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="medical equipment">
              </div>
              <!--     info -->
              <div class="content">
                <h3>"Caring for You, Healing with Compassion"</h3>
                <p id="blog">Welcome to CareZen Healthcare, a leading healthcare provider committed to delivering exceptional medical services and improving the well-being of our patients. We are dedicated to serving our community with compassion, innovation, and a patient-centric approach. Our mission is to enhance lives and promote healthier futures through comprehensive medical care and cutting-edge treatments.</p>
              </div>
          
            </div>
          
          </section>
          
          <!-- end about -->
      <br><br><br>
      <div class="container">
            <div class="responsive">
                  <div class="gallery">
                        <img src="../../assets/home/card/behavioral_health.jpg" alt="Cinque Terre" width="600" height="400">
                        <div class="desc">Behavioral Health</div>
                  </div>
            </div>
            <div class="responsive">
                  <div class="gallery">
                        <img src="../../assets/home/card/diabetes.jpg" alt="Cinque Terre" width="600" height="400">
                        <div class="desc">Diabetes</div>
                  </div>
            </div>
            <div class="responsive">
                  <div class="gallery">
                        <img src="../../assets/home/card/cancer_care.jpg" alt="Cinque Terre" width="600" height="400">
                        <div class="desc">Cancer Care</div>
                  </div>
            </div>

            <div class="responsive">
                  <div class="gallery">
                        <img src="../../assets/home/card/ophthalmology.jpg" alt="Cinque Terre" width="600" height="400">
                        <div class="desc">Opthalmology
                        </div>
                  </div>
            </div>
      </div>
      <br><br><br>
<div class="container">
      <h2 id="excel">Our Center Of Excellence</h2>
      <ul class="cards">
            <li class="card">
                  <div>
                        <h3 class="card-title">General Medicine</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Spine.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Orthopaedics</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Ortho.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Vascular Surgery</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Vascular.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Liver Diseases</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Liver.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Diabetology</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/diabe.png">

                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Spine Surgey</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Spine.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Nephrology</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Nephro.png">
                        </div>
                  </div>

            </li>
      </ul>

</div>

<app-footer></app-footer>