<app-home-navbar></app-home-navbar>

<div class="flex">
  
      <div class="waviy">
            <span style="--i:1">C</span>
            <span style="--i:2">A</span>
            <span style="--i:3">R</span>
            <span style="--i:4">E</span>
            <span style="--i:5">Z</span>
            <span style="--i:6">E</span>
            <span style="--i:7">N</span>
            <span style="--i:8"> &nbsp;</span>

            <span style="--i:1">H</span>
            <span style="--i:2">E</span>
            <span style="--i:3">A</span>
            <span style="--i:4">L</span>
            <span style="--i:5">H</span>
            <span style="--i:6">C</span>
            <span style="--i:7">A</span>
            <span style="--i:8">R</span>
            <span style="--i:9">E</span>

      </div>
      <!-- <div id="slider">
            <figure>
                  <img src="../../assets/home/carousal/carousal1.jpg">
                  <img src="../../assets/home/carousal/carousal2.jpg">
                  <img src="../../assets/home/carousal/carousal3.jpg">
                  
            </figure>
        </div> -->
      <br><br>
      <div class="container">
            <div class="responsive">
                  <div class="gallery">
                        <img src="../../assets/home/card/behavioral_health.jpg" alt="Cinque Terre" width="600" height="400">
                        <div class="desc">Behavioral Health</div>
                  </div>
            </div>
            <div class="responsive">
                  <div class="gallery">
                        <img src="../../assets/home/card/diabetes.jpg" alt="Cinque Terre" width="600" height="400">
                        <div class="desc">Diabetes</div>
                  </div>
            </div>
            <div class="responsive">
                  <div class="gallery">
                        <img src="../../assets/home/card/cancer_care.jpg" alt="Cinque Terre" width="600" height="400">
                        <div class="desc">Cancer Care</div>
                  </div>
            </div>

            <div class="responsive">
                  <div class="gallery">
                        <img src="../../assets/home/card/ophthalmology.jpg" alt="Cinque Terre" width="600" height="400">
                        <div class="desc">Opthalmology
                        </div>
                  </div>
            </div>
      </div>
      <br><br><br>
</div>
<div class="container">
      <h2 id="excel">Our Center Of Excellence</h2>
      <ul class="cards">
            <li class="card">
                  <div>
                        <h3 class="card-title">General Medicine</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Spine.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Orthopaedics</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Ortho.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Vascular Surgery</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Vascular.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Liver Diseases</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Liver.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Diabetology</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/diabe.png">

                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Spine Surgey</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Spine.png">
                        </div>
                  </div>

            </li>
            <li class="card">
                  <div>
                        <h3 class="card-title">Nephrology</h3>
                        <div class="card-content" id="gen">
                              <img src="../../assets/home/excellence/Nephro.png">
                        </div>
                  </div>

            </li>
      </ul>

</div>

<app-footer></app-footer>