<!--SECTION2-->
<section class="section2">
      <div class="cards">
      <div class="card">
      <i class="fa fa-medkit"></i>
      <h1>Qualified Doctors</h1>
      <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
      </div>
      <div class="card">
      <i class="fa fa-certificate"></i>
      <h1>Certified Services</h1>
      <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
      </div>
      <div class="card">
      <i class="fa fa-stethoscope"></i>
      <h1>Advanced Equipment</h1>
      <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
      </div>
      <div class="card">
      <i class="fa fa-heartbeat"></i>
      <h1>Emergency Service</h1>
      <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
      </div>
      </div>
      </section>
      
      
      
      
      
      
      
      <!--SECTION3-->
      <section class="section3">
      <div class="cards">
      <div class="card">
      <section>
      <h1>Laboratory Services</h1>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
      </section>
      </div>
      <div class="card">
      <section>
      <h1>General Treatment</h1>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
      </section>
      </div>
      <div class="card">
      <section>
      <h1>Orthopedician</h1>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
      </section>
      </div>
      </div>
      <div class="content">
      <h1>We are well experienced doctors</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      </section>
      