<app-home-navbar></app-home-navbar>
<div class="waviy">
      <span style="--i:1">C</span>
      <span style="--i:2">A</span>
      <span style="--i:3">R</span>
      <span style="--i:4">E</span>
      <span style="--i:5">Z</span>
      <span style="--i:6">E</span>
      <span style="--i:7">N&nbsp;</span>
      <span style="--i:1">H</span>
      <span style="--i:2">E</span>
      <span style="--i:3">A</span>
      <span style="--i:4">L</span>
      <span style="--i:5">H</span>
      <span style="--i:6">C</span>
      <span style="--i:7">A</span>
      <span style="--i:8">R</span>
      <span style="--i:9">E</span>

</div>
<marquee behavior="" direction="left" [scrollAmount]="10">
      <span style='font-size:15px;'>&#8698;
            Dr. Sundar, met Ms. Droupadi Murmu, the Honorable President of India- April, 2023 &nbsp; &nbsp;
      </span>
      <span style='font-size:15px;'>&#8698; First time in Rest of Tamil Nadu, CareZen Healthcare performs Trans Catheter
            Mitral Valve Repair TMVr- June, 2023
            &nbsp; &nbsp;
      </span>

      <span style='font-size:15px;'>&#8698;
            New breakthrough treatment at CareZen Healthcare offers hope for patients with rare medical conditions.
            &nbsp; &nbsp;
      </span>
      <span style='font-size:15px;'>&#8698;Tamil Nadu's first Tomotherapy device with clear RT and
            synchrony facility at CareZen Healthcare- January, 2023 &nbsp; &nbsp;
      </span><span style='font-size:15px;'>&#8698;Cutting-edge medical research conducted at CareZen Healthcare attracts
            global attention, revolutionizing healthcare practices worldwide.</span>
</marquee>
<br><br>
<div class="container">
      <div class="row">
            <div class="col-md-12">
                  <p>CareZen Healthcare's repertoire of Corporate Healthcare Services are designed to provide both
                        wellness and preventive care treatment that precludes illnesses and assists rehabilitation.
                        Kauvery Hospital has invested its medical experience and skills into every possibility in the
                        healthcare chain.</p>
                  <p>In a short span of time, we have emerged as the healthcare providers to many corporate
                        organisations across segments of industries and across the nation. This means that some of our
                        most sophisticated facilities and medical expertise are available to corporate employees and
                        their families.</p>
                  <p>CareZen Healthcare also offers the cashless option through the many Healthcare Insurance Providers
                        listed on our panel. If your insurance provider is not empaneled with us, we can help you with
                        the reimbursement process. It is our aim to make your medical experience as pleasant one.</p>
            </div>
      </div>

</div>
<h3 class="animate-charcter">Our Insurance Partners</h3><br><br>
<div class="container">
      <div class="responsive">
            <div class="gallery">
                  <a href="https://www.sbigeneral.in/health-insurance/health-edge-insurance?utm_source=google&utm_medium=cpc&utm_campaign=pt-google-sbig-medical-gs-lead-brand-em-in-all-23-Feb-23&utm_content=medical-em&gclid=EAIaIQobChMIyf_dqrnv_wIVlU99Ch1wmQHHEAAYASABEgJx3PD_BwE"
                        target="_blank">
                        <img src="../../assets/insurance/Medical Insurance/family-moving-using-boxes.jpg"
                              alt="Cinque Terre" width="600" height="400">
                  </a>
                  <div class="desc">SBI General Insurance </div>
            </div>
      </div>
      <div class="responsive">
            <div class="gallery">
                  <a href="https://health.policybazaar.com/?offerid=1&r=true&pb_source=google&pb_medium=cpc&pb_term=Best%20health%20insurance&pb_campaign=Health_Conversion_Desktop00Best_Health_Insurance_networkg&loc_interest_ms=&loc_physical_ms=1007809&gad=1&gclid=Cj0KCQjwwISlBhD6ARIsAESAmp6dvxpUlKK1chSVKRU7lGhjXXFxEbJfk85F1IUsbfMwbQFOsNheOOcaAs-XEALw_wcB"
                        target="_blank">
                        <img src="../../assets/insurance/Medical Insurance/young-family-with-their-sons-home-having-fun.jpg"
                              alt="Cinque Terre" width="600" height="400">
                  </a>
                  <div class="desc">Policy Bazaar </div>
            </div>
      </div>

      <div class="responsive">
            <div class="gallery">
                  <a href="https://web.starhealth.in/customerportal/instant-buy/?utm_source=google&utm_campaign=MGS-Chennai-Generic&utm_agid=135321963737&utm_term=best%20mediclaim%20insurance%20company&creative=602299456792&device=c&gclid=Cj0KCQjwwISlBhD6ARIsAESAmp6Se-_cSsXgzNGiR3-l2L7BCF6uBPhpo38dZ594QIfBHhoqZKPxNGYaAsDPEALw_wcB"
                        target="_blank">
                        <img src="../../assets/insurance/Medical Insurance/happy-family-sitting-couch-living-room.jpg"
                              alt="Cinque Terre" width="600" height="400">
                  </a>
                  <div class="desc">Star Health Insurance</div>
            </div>
      </div>
      <div class="responsive">
            <div class="gallery">
                  <a href="https://www.bajajfinservmarkets.in/insurance/health-insurance/best-health-insurance-companies-in-india.html"
                        target="_blank">
                        <img src="../../assets/insurance/Medical Insurance/safe-rooftop-their-new-home.jpg"
                              alt="Cinque Terre" width="600" height="400">
                  </a>
                  <div class="desc">Bajaj Markets</div>
            </div>
      </div>
</div>      <br><br>

<div class="container">
            <div class="responsive">
                  <div class="gallery">
                        <a href="https://www.hdfcergo.com/campaigns/buy-optima-secure?&utm_source=google_search&utm_medium=cpc&utm_campaign=Health_Search_Comp_Neev-Phrase&utm_adgroup=Small-Competitor&adid=633038907328&utm_term=aditya%20birla%20health%20insurance&utm_network=g&utm_matchtype=p&utm_device=c&utm_location=1007809&utm_sitelink={sitelink}&utm_placement=&ci=googlesearch&SEM=1&gad=1&gclid=Cj0KCQjwwISlBhD6ARIsAESAmp4kwYQPB-Qlix1-Zg7hne2G7Rbqr19g_BPXHoAQEkdjfuVszH9xVWQaArCREALw_wcB"
                              target="_blank">
                              <img src="../../assets/insurance/Medical Insurance/parents-with-their-children-walking-forest.jpg"
                                    alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">HDFC Ergo</div>
                  </div>
            </div>
    
    
            <div class="responsive">
                  <div class="gallery">
                        <a href="https://www.adityabirlacapital.com/healthinsurance/campaign/activ-health-insurance-new?source=Smart_Brand_Search&utm_source=Smart_Brand_Search&utm_medium=Sok_Google_Pmax&utm_content=Sok_PMax_Activ_Platinum&utm_campaign=Sok_PMax_Performance_200922&keyword=&gad=1&gclid=Cj0KCQjwwISlBhD6ARIsAESAmp4_u3o_vyXD_n3UBZmJtYj8-CvvuaLoOhCIvMc3kx_k52wAihCGuv4aAjacEALw_wcB"
                              target="_blank">
                              <img src="../../assets/insurance/Medical Insurance/full-shot-smiley-parents-kid.jpg"
                                    alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Aditya Birla Health Insurance</div>
                  </div>
            </div>
            <div class="responsive">
                  <div class="gallery">
                        <a href="https://my.royalsundaram.in/health-insurance?gggj&utm_source=google&utm_medium=search&utm_campaign=AO-Comp_Aditya_March&utm_content=AO_Aditya_Health&utm_term=aditya+birla+health+insurance+online&gclid=Cj0KCQjwwISlBhD6ARIsAESAmp5eBYFf-6WOvn8oo4lhur6q7cmv8yg8TV4TP85D6OgTcZK5fgcSxeMaAkTEEALw_wcB"
                              target="_blank">
                              <img src="../../assets/insurance/Medical Insurance/happy-daughter-having-fun-with-her-parents-while-relocating-new-apartment.jpg"
                                    alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Royal Sundaram Insurance
                        </div>
                  </div>
            </div>
            <div class="responsive">
                  <div class="gallery">
                        <a href="https://www.tataaig.com/health-insurance"
                              target="_blank">
                              <img src="../../assets/insurance/Medical Insurance/family-home.jpg"
                                    alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Tata Aig Insurance </div>
                  </div>
            </div>
      </div>
      <br><br>

      <app-footer></app-footer>