*{
  font-family:  "Rubik", sans-serif;
}
.card{
  width: 220px;
  margin-right: 50px;

}
h1{
  text-align: center;
}
p{
  font-size: 14px;

}
.card-body
{
  height: 300p;
}
.btn{
  font-size: 12px;
}
