<app-admin-navbar>
  
</app-admin-navbar><div class="container" mx-auto mt-4>
  <h1>Doctors List</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let c of DoctorRegister">
      <div class="card">
        <!-- <img src=".\assets\images\{{c.imageLocation|slice:-12}}" class="card-img-top" alt="Image Description"> -->
        <div class="card-body">
          <h3 class="card-title">{{c.id}}</h3>
          <p class="card-text">Specialization: {{c.specialization}}</p>
          <p class="card-text">Experience: {{c.experience}} Years</p>
          <p class="card-text">Location: {{c.location}}</p>
          <p class="card-text">Contact No: {{c.phone}}</p>
          <div id="buttons">
            <div class="card-footer">
            <button class="btn btn-danger" (click)="deleteDoctor(c)">Delete</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
