<div class="wrapper">
      <!-- Sidebar Holder -->
      <nav #sidebar id="sidebar">
        <div class="sidebar-header">
           <p>Avail Flat</p> 
           <h3>Up To 40% Off Medical Check Up</h3>
           <div id="mrbean">
           <img src="../../assets/home/sidebar/mr-bean-medical-student.gif">
          </div>
        </div>
    
      </nav>
    
      <!-- Page Content Holder -->
      <div id="content">
        <button type="button" #sidebarCollapse class="btn btn-info navbar-btn">
         <div id="myDiv">
          40% Off for Health checkup
          </div>
        </button>    
      </div>
    </div>
    