 <div class="wrapper">
    Sidebar Holder 
      <nav #sidebar id="sidebar">
        
        <div class="sidebar-header">
           <h3>CareZen Healthcare Checkup Package</h3>
          </div>
          <div id="sb-flex"><div id="text">
           <p >Bollod Sugar test, Lipid Profile test, kidney function test,</p><p> liver function test, thyroid tests</p>
<p>With Doctor Consultation</p>
          </div>
           <div id="mrbean">
           <img src="../../assets/home/sidebar/mr-bean-medical-student.gif">
          </div>    </div>
          <div id="doctor">
          <img src="../../assets/home/sidebar/doctor-white-background.jpg">
        </div>
   
    
      </nav>
    
      <!-- Page Content Holder -->
      <!-- <div id="content">
        <button type="button" #sidebarCollapse class="btn btn-info navbar-btn">
         <div id="myDiv">
          40% Off for Health checkup
          </div>
        </button>    
      </div>
    </div> -->
    


    <body class="login-page">
      <div class="login-box">
          <h2 class="heading-login-box">Login</h2>
          <form>
              <div class="user-box">
                  <input class="user-box-input" type="text" required>
                  <label class="user-box-label">Username</label>
              </div>
              <div class="user-box">
                  <input class="user-box-input" type="password" required>
                  <label class="user-box-label">Password</label>
              </div>
              <a type="submit" class="login-box-button" href="#">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  Submit
              </a>
          </form>
      </div>
  </body>