<header>
	<h1 class="logo">Instrument</h1>
	<input type="checkbox" class="nav-toggle" id="nav-toggle">
	<nav>
		<ul>
			<li> <a routerLink="home">Home</a></li>
			<li> <a href="">About Us</a></li>
			<li> <a routerLink="doctors">Doctors</a></li>
			<li> <a href="">Appoinment</a></li>
			<li> <a routerLink="insurance">Insurance</a></li>
			<li> <a href="">Login</a></li>
			<li> <a href="">Logout</a></li>
		</ul>
	</nav>
	<label for="nav-toggle" class="nav-toggle-label">
		<span></span>
	</label>
</header>

<!-- Section One -->